.blurring-top{
    background: linear-gradient(180deg,#f4f8ff,#fff0);
}
.blurring-bottom{
    background: linear-gradient(0deg,#f4f8ff,#fff0);
}
.companiesList{
    animation: 10s infinite linear moveCompany;
    rotate: 90;
}
@keyframes moveCompany{
    0%{
        top:0;
        
    }
    100%{
        top:-50%; 
        
    }
}